<div class="bgimgarea">
   <div class="container">
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
               <h2>No Weight Loss Pills, No machines, <br />
No Lies. Only <span>Wise Nutrition</span> Through <br />
<strong>Real Food!</strong></h2>
               <a href="#">Book a Free Home Consultation <%= image_tag('banner_btn.png') %></a>
          </div>
       </div>
   </div>
</div> 