<footer class="footerbg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
                    <p>Copyright &copy; 2017 | <a href="#">wise nutrition</a>. All rights reserved </p>    
                    <ul class="ftr-socialicons">
                       <li><a href="#"></a></li>
                       <li><a href="#"></a></li>
                       <li><a href="#"></a></li>
                       <li><a href="#"></a></li>
                       <li><a href="#"></a></li>
                    </ul> 
                </div>
            </div> 
         </div>
</div>