<div class="boxarea">
  <div class="container">
    <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
           <h2>Services <strong>Offered</strong></h2>
           <div class="row">
             <% @services.each do |service| %>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <a href="#" class="percirclearea">
                          <div class="percircleouter"><div class="percircle">
                          <%= image_tag service.picture.url(:medium) %>
                          </div></div>
                          <h4><%= service.title%> </h4>
                          <span class='details' id='<%= service.id %>'>READ MORE</span> 
                      </a>
                 </div>
               <% end %>
           </div>
       </div>
    </div>
  </div>         
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    $(".details").click(function(){
      var id = $(this).attr('id');
      window.location.replace('http://localhost:3000/service_details/'+id)
    });
  });
</script> 