<div class="slider_part">
	<div class="slider">
				<div class="flexslider">
				          <ul class="slides">
				            	<li>
				  	    	    	<%= image_tag('slider_1.jpg')%>
                                    <div class="banouter">
                                       <div class="bandescout">
                                        	<div class="container">
                                            	<div class="row">
                                              <!--
                                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                                                      <h2>Honest Weight Loss </h2>
                                                      <h3>THROUGH WISE NUTRITION </h3>
                                                      <h4><span>II</span> Customised Meal Plans  </h4>
                                                      <h4><span>II</span> Super Food Kits  </h4>
                                                      <h4><span>II</span> Mentoring </h4>
                                                      <div class="btnarea"><a href="#">READ MORE</a></div>
                                                  </div>
                                                  -->
                                              </div>
                                           </div>
                                        </div>
                                      </div>	
				  	    		</li>
				  	    		<li>
				  	    			<%= image_tag('slider_2.jpg')%>
                                    <div class="banouter">
                                       <div class="bandescout">
                                        	<div class="container">
                                            	<div class="row">
                                              <!--
                                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                                                      <h2>Honest Weight Loss </h2>
                                                      <h3>THROUGH WISE NUTRITION </h3>
                                                      <h4><span>II</span> Customised Meal Plans  </h4>
                                                      <h4><span>II</span> Super Food Kits  </h4>
                                                      <div class="btnarea"><a href="#">READ MORE</a></div>
                                                  </div>
                                                  -->
                                              </div>
                                           </div>
                                        </div>
                                      </div>	
				  	    		</li>
				          </ul>
				</div>				        
		</div>   	
</div>