<div class="csarea">
   <div class="container">
        <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
               <h2>Our Concern is Your <span>Success</span></h2>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text.</p>
               <div class="row">
                   		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percsarea">
                                <div class="iconareaouter"><div class="csiconarea"><span class="iconone"></span></div></div>
                                <h4>Strategy </h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </a>
                  	   </div>  
                       <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percsarea">
                                <div class="iconareaouter"><div class="csiconarea"><span class="icontwo"></span></div></div>
                                <h4>Resources </h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </a>
                  	   </div>  
                       <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                       		<a href="#" class="percsarea">
                                <div class="iconareaouter"><div class="csiconarea"><span class="iconthree"></span></div></div>
                                <h4>Success </h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </a>
                  	   </div>                        
               </div>
           </div>
        </div>
    </div>         
</div>