<div class="testimoouter">
    <div class="container">
            <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h2>What Our <span>Client Say</span></h2>
                     <div class="testimoarea">
                         <div id="nav-01" class="crsl-nav">
                            <a href="#" class="previous">&laquo; Previous</a>
                            <a href="#" class="next">Next &raquo;</a>                           
                         </div>
                         <div class="gallery gallery-01 crsl-items" data-navigation="nav-01" style="margin-top:-10px">
                             <div class="crsl-wrap">
                                                    <figure class="crsl-item">
                                                            <p><span>"</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <span>"</span></p>
                                                            <h3>~  &nbsp; Lorem Ipsum is simply &nbsp;  ~</h3>
                                                            <div class="testimoimgarea">
                                                            <%= image_tag('client_pic1.jpg') %>	
                                                            </div>
                                                    </figure>
                                                </div>
                             <div class="crsl-wrap">
                                                    <figure class="crsl-item">
                                                            <p><span>"</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <span>"</span></p>
                                                            <h3>~  &nbsp; Lorem Ipsum is simply &nbsp;  ~</h3>
                                                            <div class="testimoimgarea">
                                                            <%= image_tag('client_pic1.jpg') %>	
                                                            </div>
                                                    </figure>
                                                </div>
                             <div class="crsl-wrap">
                                                    <figure class="crsl-item">
                                                            <p><span>"</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <span>"</span></p>
                                                            <h3>~  &nbsp; Lorem Ipsum is simply &nbsp;  ~</h3>
                                                            <div class="testimoimgarea">
                                                            <%= image_tag('client_pic1.jpg') %>	
                                                            </div>
                                                    </figure>
                                                </div>                   
                         </div> 
                     </div>
                 </div>
            </div> 
    </div>
</div>