<div class="testimoouter">
    <div class="container">
            <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h2>What Our <span>Client Say</span></h2>
                     <div class="testimoarea">
                         <div id="nav-01" class="crsl-nav">
                            <a href="#" class="previous">&laquo; Previous</a>
                            <a href="#" class="next">Next &raquo;</a>                           
                         </div>
                         <div class="gallery gallery-01 crsl-items" data-navigation="nav-01" style="margin-top:-10px">
                             <div class="crsl-wrap">
                                                    <figure class="crsl-item">
                                                            <p><span>"</span>

I have lost my 10 Kgs of weight in just 3 months. It gives me confidence. Thanks Dietian Karishma!
                                                             <span>"</span></p>
                                                            <h3>~  &nbsp; Varsha Mariswamy &nbsp;  ~</h3>
                                                            <div class="testimoimgarea">
                                                            <%= image_tag('client_pic1.jpg') %>	
                                                            </div>
                                                    </figure>
                                                </div>
                             <div class="crsl-wrap">
                                                    <figure class="crsl-item">
                                                            <p><span>"</span>In Dietian Karishma's guidence I have lose 6 Kgs of weight in 2 months. Thanks a lot for your help Dietitian. <span>"</span></p>
                                                            <h3>~  &nbsp; Anup &nbsp;  ~</h3>
                                                            <div class="testimoimgarea">
                                                            <%= image_tag('client_pic1.jpg') %>	
                                                            </div>
                                                    </figure>
                                                </div>                   
                         </div> 
                     </div>
                 </div>
            </div> 
    </div>
</div>