<div class="innerpgcont">
	<div class="container">
		<div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            </div>
        </div>
        <div class="row">           
           <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
           		<div class="mainhdarea nosidesp">
           			  <!--
                    <div class="innerslider">
                    
                         <div class="slider">
                            <div class="flexslider">
                                 <ul class="slides">
                                    <li><img src="images/innerslider_1.jpg" alt=""  /></li>    
                                    <li><img src="images/innerslider_2.jpg" alt=""  /></li>   
                                    <li><img src="images/innerslider_3.jpg" alt=""  /></li>   
                                    <li><img src="images/innerslider_4.jpg" alt=""  /></li>                 
                                 </ul> 
                             </div>              
                         </div> 
                         
                     </div>
                    -->
                    <h2>About Us</h2>
                    <p>Dietitian Karishma@ Wise Nutrition™ (Noida based nutrition expert believes that healthy eating is not about strict nutrition philosophies, staying unrealistically thin, or depriving yourself of the foods you love.<br /><br />
                    
                    Rather, it’s about feeling great, having more energy, and keeping yourself as healthy as possible – all which can be achieved by learning some nutrition basics and incorporating them in way that works for you. <br /><br />

                    These days, there are a lot of quick fix solutions available in the form of pills, diets, strenuous exercises that bet you will lose weight very quickly and that too without much effort. However, a lot of these so called miracle programs are not feasible as they have not been scientifically proven and they are from the time when the meaning of diet used to include starvation, heavy exercises and even strong medicines which had hazardous chemicals.<br /><br />

                    But guess what? Those times are gone! </p>
                    <!--
                    <ul class="scarea">
                    	<li><a href="#"><img src="images/icon_in.png" alt="" /></a></li>
                        <li><a href="#"><img src="images/icon_fblike.png" alt="" /></a></li>
                    	<li><a href="#"><img src="images/icon_tweet.png" alt="" /></a></li>
                        <li><a href="#"><img src="images/icon_gplus.png" alt="" /></a></li>
                    </ul>
                    -->
                    <br class="clear" />
                    <h3>
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>Qualifications
                    </h3>
                    <p>M.Sc. (Foods and Nutrition) from Banasthali Vidhyapeeth</p>
                    <p>Yoga therepist</p>
                    <p>Exercise therepist</p>
                    <br class="clear" />

                    <h3>
                      <i class="fa fa-briefcase" aria-hidden="true"></i>
                      Clinical Experience
                    </h3>
                    <p>Clinical dietician at a WiseNutrition (Online Diet Clinic)</p>
                    <p>Santokba Durlabhji Memorial hospital cum medical research institute , jaipur Rajasthan(SDMH)</p>
                    <p>Post graduate institute of medical education and research, chandigarh, India(PGIMER)</p> 
                    <p>Area of expertise includes weight management, Life style counselling and Disease management through healthy diet.</p>
                    <br class="clear" />

                    <h3>
                      <i class="fa fa-user" aria-hidden="true"></i>
                      Membeship
                    </h3>
                    <p>Indian Dietetics Association</p>    
                    <br class="clear" />
                                   
           		</div>
           </div>  
           
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
           <!--
                <div class="rgtside wbg"> 
                   <h3>Dt. Karishma Saxena <br /><strong>Nutritionist / Dietician in Noida , India </strong></h3>
                   <div class="doctor"> 
                   		<img src="images/doctor.jpg" alt="" /> 
                   		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.... <a href="#">View More &gt;&gt;</a></p>
                   </div>
                </div>

           		<div class="rgtside"> 
                        	<h3>Health Queries? <span>Register Now! </span></h3>
                            <form name="f" method="post" action="">
                            	<div class="fmboxwrap">
                                	<div class="txtbox">Name :</div>
									<input type="text" name="name" value="" />
                                </div>
                                <div class="fmboxwrap">
                                	<div class="txtbox">Email :</div>
									<input type="text" name="email" value="" />
                                </div>
                                <div class="fmboxwrap">
                                	<div class="txtbox">Password :</div>
									<input type="text" name="password" value="" />
                                </div>
                                <div class="fmboxwrap">
                                	<div class="txtbox">Contact no. :</div>
									<input type="text" name="mobile" value="" />
                                </div>
                                <input type="submit" value="Submit" class="subbtn" />
                                <a class="linktxt" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Already Registered? Login Here </a>
                            </form>
                 </div>
                 -->
                 <!--
                 <div class="inrtestino">
                 	<figure>
                          <img src="images/client-pic1.jpg" alt="" />
                          <div class="leftinfo">
                             <h3>Mr. Gordon Moore </h3>
                             <h4>Tutor - Maths and Statistics, Keele University, UK</h4>
                             <div class="star">
                                  <img src="images/y-star.png" alt="" />
                                  <img src="images/y-star.png" alt="" />
                                  <img src="images/y-star.png" alt="" />
                                  <img src="images/y-star.png" alt="" />
                                  <img src="images/g-star.png" alt="" />
                             </div>
                          </div>
                          <p><span>"</span>It's amazing to have a website like tutorialspoint at zero price and providing the best self learning content. I always recommend my students to refer to tutorialspoint for their assignments.</p>
                   </figure>
                </div>
                -->
           </div>
        </div>
     </div>
</div>