<div class="contactarea">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            </div>
        </div>
     <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">  
            <h2>You can GET in TOUCH easily </h2>
            <p>Just write something in the right side box </p>
            <div class="map"><img src="images/map.jpg" alt="" /></div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> 
           <div class="inputarea"> 
             <form name="contact form" method="post" action="">
              <input type="text" name="name" value="Name" onfocus="if(this.value=='Name')this.value='';" onblur="if(this.value=='')this.value='Name';" />
              <input type="text" name="name" value="PHONE" onfocus="if(this.value=='PHONE')this.value='';" onblur="if(this.value=='')this.value='PHONE';" />
              <input type="text" name="name" value="EMAIL" onfocus="if(this.value=='EMAIL')this.value='';" onblur="if(this.value=='')this.value='EMAIL';" />
              <textarea rows="5" cols="5" value="" onfocus="if(this.value=='MESSAGE')this.value='';" onblur="if(this.value=='')this.value='MESSAGE';">MESSAGE</textarea>
              <input type="submit" name="search" value="SEND MESSAGE" />
             </form>
           </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">  
            <h4>Location Details </h4>
            <h5>Address:         
                <span>Lorem Ipsum is simply dummy                 
                text of the printing and                  
                typesetting industry </span>
            </h5>
            <h5>Telephone:        
                <span>+01 (91) 1234-5678 </span>
            </h5>
            <h5>Fax:                  
                <span>+01 (91) 1234-5678 </span>
            </h5>
            <h5>Website:                  
                <span><a href="#">http://www.yourwebsite.com </a></span>
            </h5>
        </div>
     </div>
   </div>
</div> 