<div class="innerpgcont">
	<div class="container">
		<div class="row">
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            </div>
        </div>
        <div class="row">           
           <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
           		<div class="mainhdarea nosidesp">
           			
                    <div class="innerslider">
                    </div>

                    <h2>Why Consulting with a Dietitian Nutritionist can Benifit for you?</h2>
                    <p>Greater Than Yesterday Nutrition meets with clients locally, by phone, text, Skype or Facetime. This allows easier access for meetings and does not limit by distance. As a client, this is a huge advantage for you as well. No need to drive, sit in a waiting room, receive nutrition coaching only to drive home again. The typical 20-30 minute session can mean 75-90 minutes! It’s all about working smarter and not harder. Use that extra time to start prepping and planning meals!
                    Just like your favorite pair of perfect fitting jeans, online nutrition coaching allows you to find the perfect ‘fit’ in a nutritionist . As with most disciplines, nutritionists have slightly different approaches and personalities It is important to understand how your nutritionist works before signing up. It needs to be a fit for YOU.<br /><br />

                    But guess what? Those times are gone! </p>
                    <br class="clear" />
                    <h3>
                      <i class="fa fa-heartbeat" aria-hidden="true"></i>How to Consult Online @ Wise Nutrition?
                    </h3>
                    <ul class="fa-ul" style="font-size: 16px; font-height: 24px;">
                      <li>
                        <i class="fa-li fa fa-check-square"></i>
                        Register to Wise Nutrition.
                      </li>
                      <li>
                        <i class="fa-li fa fa-check-square"></i>
                        After Login, Complete your profile with all mendetory information.
                      </li>                      
                      <li>
                        <i class="fa-li fa fa-check-square"></i>
                        Select a plan (Weight Loss ect.)
                      </li>
                      <li>
                        <i class="fa-li fa fa-check-square"></i>
                        Make online payment.
                      </li> 
                      <li>
                        <i class="fa-li fa fa-check-square"></i>
                        Get the Diet Plan in your account.
                      </li>                                            
                    </ul>
 
                    <br class="clear" />
                                   
           		</div>
           </div>  
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
           </div>
        </div>
     </div>
</div>